
<form method="post" action='@Url.Action("CheckOlvideContraseña","Account")'>
    Ingresa el emial con el que te registraste: <input type="text" name="email"/><br/>
    @ViewBag.noexiste;
    <input type="Submit" value="Enviar" >
</form>