@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>Para iniciar sesion toca este boton</p>
 <small class="text-muted"><a href='@Url.Action("IniciarSesion", "Account")'><button>Iniciar sesion</button></a></small> 
 <p>Para registrarse toca este boton</p>
 <small class="text-muted"><a href='@Url.Action("UsuarioNuevo", "Account")'><button>Crear cuenta nueva</button></a></small> 